body{
    background-color: #151515;
    font-family: 'inter', sans-serif;
}

h2{
    color: #FBFBFB;
    height: 30px;
    width: 193px;
    font-size: 25px;
    font-weight: 800;
    position: absolute;
    left: 43px;
    margin: auto;
}
h3{
    color: #C8E66A;
    height: 18px;
    width: 181px;
    font-size: 15px;
    font-weight: 700;
    position: absolute;
    top: 40px;
    left: 49px;
    margin: auto;
    
}
p{
    margin-top: 30px;
    color: #FBFBFB;
    height:18px ;
    width: 275px;
    font-size: 14px;
    font-weight: 500;
    position: absolute;
    top: 68px;
    margin: 30px auto 0;
}

button{
    background-color: #333333;
    border-radius: 5px;
    border: none;
    height: 49px;
    width: 324px;
    color: #FBFBFB;
    font-size: 15px;
    font-weight: 800;
    transition: 0.5s ease-in-out;
}
button:hover{
    color: #151515;
    background-color: #C8E66A;

}
a{
    color: #FBFBFB;
    text-decoration: none;
    transition: 0.3s ease-out;
    
}
a:hover{
    color: yellowgreen;
}
.container{
    background-color: #1F1F1F;
    height: 649px;
    width: 410px;
    border-radius: 10px;
    position: relative;
    left: 515px;
    top: 187px;
}
.image{
    height: 98px;
    width: 98px;
    border-radius: 50%;
    position: absolute;
    top: 38px;
    left: 156px;
}
.profile{
    height: 106px;
    width: 275;
    position: absolute;
    top: 165px;
    left: 67px;
    text-align: center;
    margin: 0;
    
}

.links{
    height: 309px;
    width: 324px;
    position: absolute;
    top:298px ;
    left: 43px;
    
    
}

.github{
   margin: 0;
   
}
.frontend-mentor{
    margin-top: 16px;

}
.linkedin{
    margin-top: 16px;

}
.twitter{
    margin-top: 16px;
    
}
.instagram{
    margin-top: 16px;
    
}

.attribution{
    color: #FBFBFB;
    position: relative;
    top: 200px;
    left: 500px;
    margin-bottom: 50px;
}

